<div class="card-main">
    <img src=".././assets/images/13105774_5143151.jpg" alt="contact-manager-card" class="card-img">
    <div class="main-button">
        <div>
            <h1><b class="cus-bold">C</b>ontact <b class="cus-bold">m</b>anager </h1>
            <h1><b class="cus-bold">C</b>lick <b class="cus-bold">h</b>ere to <b class="cus-bold">E</b>nter</h1>
            <button id="foot"><button class="button-os" (click)="loginRoute()"><a>LOGIN</a></button></button>
        </div>
    </div>
</div>